{% include "header.html" %}
<body>
<h1>{{ config.email }}</h1>
<ul>
    {% for item in todos %}
    <li>
        {{ item.title }}&nbsp;
        <a href="#">OK</a>
        <a href="/todo/{{ item.id }}/edit">Edit</a>
        <a href="/todo/{{ item.id }}/delete" onclick="return confirm('are you sure ??')">Delete</a>
    </li>
    {% endfor %}
</ul>

<div>
    <form method="post" action="/todo/new">
        <p>
            <input type="text" name="title" />
        </p>
        <p>
            <input type="submit" value="tianjia" />
        </p>
    </form>
</div>
</body>
</html>