{% include "header.html" %}
<div class="container">

    <h1>Bootstrap starter template</h1>
    <p>
        Use this document as a way to quick start any new project.
        <br>All you get is this message and a barebones HTML document.</p>
    <div>
        <form method="post" action="/todo/search" class="form-search">
            <input type="text" name="searchword" class="input-medium search-query">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>

    <div>
        <form method="post" action="/todo/search">
            <p>from</p>
            <div class="input-append date form_datetime">
                <input size="16" type="text" name="timebefore" readonly>
                <span class="add-on"> <i class="icon-remove"></i>
                </span>
                <span class="add-on"> <i class="icon-calendar"></i>
                </span>
            </div>
            <p>to</p>
            <div class="input-append date form_datetime">
                <input size="16" type="text" name="timeafter" readonly>
                <span class="add-on">
                    <i class="icon-remove"></i>
                </span>
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    <h1>{{ config.email }}</h1>

    <table class="table table-hover">
        <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
        <col width="300">
        <col width=""></colgroup>
    <tbody>
        <tr class="thead">
            <th>id</th>
            <th>title</th>
            <th>finished</th>
            <th>post_date</th>
            <th>action</th>
        </tr>
        {% for item in todos %}
        <tr>
            <td>
                <span>{{ item.id }}</span>
            </td>
            <td>
                <span>{{ item.title }}</span>
            </td>
            <td>
                <span>{{ item.finished }}</span>
            </td>
            <td>
                <span>{{ item.post_date }}</span>
            </td>
            <td>
                <a href="#">ok</a>
                <a href="/todo/{{ item.id }}/edit">edit</a>
                <a href="/todo/{{ item.id }}/delete" onclick="return confirm('are you sure ??')">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul>
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        {% for page in range(1,pages + 1) %}
        <li class="disabled">
            <a href="/page/{{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>

<div>

    <form method="post" action="/todo/new">
        <fieldset>
            <p>
                <input type="text" name="title" />
            </p>
            <button type="submit" class="btn">Submit</button>
        </fieldset>
    </form>
</div>

</div>
<!-- /container -->

<script type="text/javascript" src="{{ config.static }}/bootstrap/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ config.static }}/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    </script>
</body>
</html>